<div class="logo">

  <h2 title="Ruben, Mateo y Sebastian">RMS</h2>
  <h4>Ruben - Mateo - Sebastian</h4>
</div>
<nav class="bar">
  <ul>
    <li><%= link_to 'Inicio', root_path %> </li>
  </ul>
</nav>
